[2017-04-20 16:26] pallazola opened #4 "can't get auth key"
Had to reset the switchman a few times to get it show up during a switchmate.py scan, but it finally did show up during a scan!
I tried to get the auth key and I got the following error:

$:~/switchmate$ sudo ./switchmate.py xx:xx:xx:xx:xx:xx auth
Traceback (most recent call last):
  File "./switchmate.py", line 157, in <module>
    device.writeCharacteristic(AUTH_NOTIFY_HANDLE, NOTIFY_VALUE, True

[2017-04-23 22:16] brianpeiris commented on #4
I'm afraid I won't be able to help you diagnose your particular hardware issues. There are too many variations of bluetooth hardware out there to support. I would suggest trying to find a popular USB bluetooth adapter and use that.

When the official Switchmate app pairs with a Switchmate switch, it generates a new auth key. You might be able to use the app and this script simultaneously if you we

[2017-04-23 22:16] #4 closed, assigned to nobody

[2017-08-04 18:00] AlexLamprianidis opened #5 "Traceback error"
Hey, whenever i perform any command i get this error

[code]

[2017-08-04 18:06] brianpeiris commented on #5
Hi @alexlab963,
The project uses a requirements.txt file for its dependencies via [pip](https://pip.pypa.io/en/stable/).
Try running `pip install -r requirements.txt`. You may want to use a [virtualenv](https://virtualenv.pypa.io/en/stable/) as well.

[2017-08-04 18:06] #5 closed, assigned to nobody

[2017-08-04 18:57] AlexLamprianidis commented on #5
Successfully installed requirements, however now i get this error

[code]

[2017-08-04 19:06] brianpeiris commented on #5
The project uses the bluepy library for bluetooth communication and it requires a bluetooth dongle that is capable of BLE (Bluetooth Low Energy). I can't help you with your specific hardware (there are too many out there for me to provide support) but I would start by making sure your bluetooth hardware works with BLE and bluepy.

[2017-10-10 13:09] armaanbindra opened #6 "Switchmate firmware update broke this script!"
Switchmate firmware update broke this script! After a recent firmware update switchmate pushed out, I can no longer use this script to discover and connect to it. Please help, if somebody has figured out how to make it work with the new firmware update, this was integral to my smarthome setup :(

[2017-10-15 11:46] brahmafear commented on #6
Not a guaranteed fix, but try changing the SWITCHMATE_SERVICE to "abd0f555eb40e7b2ac49ddeb83d32ba2".  Based on posts elsewhere, that seems to help.

[2017-10-15 14:25] armaanbindra commented on #6
@brahmafear thats one the first things i tried after reading about it elsewhere too. 🙁. That gets me further, the scan for the bluetooth devices does work, so its a step in the right direction, yet the actual auth and connection to the switch still completely fails.

[2017-10-16 21:03] JLSchuler99 commented on #6
I was wondering if a solution to this was found yet. I've been having the same problem and the switch is unusable for me right now.

[2017-10-17 13:48] chandruxp commented on #6
+1

[2017-10-23 01:23] brianpeiris commented on #6
I haven't managed to figure out how to toggle the switch with the new firmware. I've created a [new-firmware branch](https://github.com/brianpeiris/switchmate/tree/new-firmware) that supports scanning and checking the status of devices with the new firmware but I've been unsuccessful in my attempts to toggle the switch.

I've tried to intercept the bluetooth communication that allows Switchmate's

[2017-11-05 03:55] psolin commented on #6
Added encryption seems like a logical explanation as to why the switch would no longer work with 3rd party code.  They advertise that the Wink Hub 2 is compatible with Switchmate, with literature in the product box claiming it as well.  It is not anymore.  This is the response that I received from Switchmate:

Yes, blame another company, even though it was apparently working before.  Here's a resp

[2017-11-05 06:33] F1nny commented on #6
Hey Guys, Brian reached out to one of our guys and this came across the desk - correct that we introduced a major firmware update first with our new product launches in June and then upgraded our Original devices recently to bring into the new featureset and take full advantage of the new app. Re Wink it is definitely a bummer still not supported, they've had the updated firmware spec and products

[2017-11-05 06:56] brianpeiris commented on #6
Thanks for the quick response @F1nny!

If you can do anything to point me in the right direction, I'd be happy to do the leg work on my end to make things work with the new firmware. Ideally you won't have to spend the effort to release another firmware update just to help the DIY community, but that would be great as well.

It's good to hear about the public API, but honestly Switchmate has been

[2017-11-07 18:16] sbastami commented on #6
@brianpeiris
How are you approaching this issue and is there anything others like me could try to do to help you with figuring out a solution to this issue? I'm trying a different approach in the meantime, do I'm happy to help what you're doing if I can. Need this script to work badly.

Thank you.

[2017-11-07 18:30] brianpeiris commented on #6
Right now I'm waiting for Switchmate to reply. It looks like they want to help the DIY community fix this, which would be great.

If that doesn't pan out my only option would be to attempt to decompile the Switchmate Android app in order to decipher the authentication scheme. I've never done this before and I hit a dead end a few weeks ago when trying. So if anyone has experience doing that, it wo

[2017-11-07 18:43] sbastami commented on #6
I've been setting up to do the same thing. Got the Apk and all, but what dead end did you hit? Perhaps I can keep it in mind when I start trying the same thing.

[2017-11-07 19:07] brianpeiris commented on #6
I guess dead end wasn't the right phrase. I decoded the apk with [Apktool](https://ibotpeaches.github.io/Apktool/) and that resulted in thousands of `.smali` files with the intermediate language code. That seemed a bit daunting at the time, so I gave up.

I imagine at that point it would be a matter of combing through the smali IL code to find the auth code and then reconstruct it in python or the

[2017-11-07 19:26] sbastami commented on #6
I see. Thanks for the information. I'll post updates if I make any progress.

[2017-11-07 19:28] brianpeiris commented on #6
Thanks and good luck!

[2017-11-12 19:26] trdougherty commented on #6
@brianpeiris thanks so much for your help and quick responses! One of the things I've noticed with this new switchmate firmware is that anytime we read the state (or make any kind of connection) the switch seems to default to off state upon disconnection. Have you or anyone else run into this problem, and if so are there any workarounds? Thanks again!

[2017-11-14 03:58] F1nny commented on #6
Hey guys, we provided a Homebrew specific firmware bundle to Brian (Switchmate original only for the moment, not the swmbright/slim but will do that as well afterwards) with instructions as a temporary short term work around to get you back online. We're working with him to do some testing and will provide an update soon -
Re decompiling the way it's configured and with a wrapper around sensitive

[2017-11-14 23:45] brahmafear commented on #6
Thanks @F1nny, I'd be interested in assisting with testing and don't mind voiding my warranty.  I believe my switchmate is the slim version though.

[2017-11-15 00:05] brianpeiris commented on #6
@brahmafear If you have the slim version, try using the [new-firmware](https://github.com/brianpeiris/switchmate/tree/new-firmware) branch (the branch name is misleading, now that I think of it). Let me know if it doesn't work. I don't have a slim device to test with.

For those with the original switchmate, I'll post the homebrew firmware here later today along with instructions. Stay tuned! (cc

[2017-11-15 01:14] F1nny commented on #6
@brahmafear Slim 2.9.3 almost sure didn't have authentication enforced so still works without anything special however the next release for the slim IS in the queue and did have it back on but at the time of release if someone pings me I'll get you covered if we don't have the better avenue in place by that time

[2017-11-15 02:08] brahmafear commented on #6
Apologies - turns out I have the non-slim version.  Was confused by online images.  I can test the homebrew firmware when posted.

[2017-11-15 02:37] sbastami commented on #6
I am also standing by to test it out once it's committed.

[2017-11-15 03:05] armaanbindra commented on #6
Looking forward to testing it too!! Thanks for all your help guys 🙂

[2017-11-16 18:53] brianpeiris commented on #6
Sorry for the delay. I'm going to write a wiki page with instructions and maybe a video as well, since the firmware update process is a bit tricky. I'll also add some debugging commands to the python script so that people can report issues with that info if needed. Will try to get to it tonight.

[2017-11-17 00:22] rjcooper725 commented on #6
Hi guys!

I develop technology for disabled children (since 1984, probably before many of you were born ;-)
I'm working on an iPad app to allow VERY disabled kids to turn things on/off, that they definitely cannot do, physically and many times, cognitively also, by themselves.  Touching pictures of things on the screen will trigger the appliance/light.

The approach that SwitchMate has taken with

[2017-11-17 01:52] sbastami commented on #6
Thanks again @brianpeiris

[2017-11-17 08:51] brianpeiris commented on #6
Bad news I'm afraid. It seems I managed to brick two of my Switchmate devices while trying to record instructions for the rest of you. 😢
As such I don't think it's safe for me to recommend this homebrew firmware update yet. I'll check with @F1nny and get back to you if I have an update.

[2017-11-23 01:00] armaanbindra commented on #6
@brianpeiris, anything new from @F1nny about the homebrew firmware update?

[2017-11-23 05:50] brianpeiris commented on #6
At this point I think we'll have to wait for @F1nny to share more details about the interim solution he mentioned above, whenever he's ready to do so.

[2017-11-30 05:14] jbarker7 commented on #6
I actually just purchased 4 Switchmate's with the hope of using this script to find out that we're at a bit of a standstill.  Excited to hear back from @F1nny!  Let us know if there is a way to help.

[2017-12-13 09:03] tateu commented on #6
Is there any news on this? Does the "new-firmware" branch work? Are there specific models it works for and doesn't work for?

I see two regular versions for sale on Amazon, model [RSM002](https://www.amazon.com/gp/product/B01EV7FXRM/) and [RSM001WCAN](https://www.amazon.com/gp/product/B06Y2HL3SP/). I'm not sure which of those is newer. The Amazon page says RSM001WCAN is newer, though that doesn't

[2017-12-16 19:18] psolin commented on #6
I finally figured it out.

Step 1: Uninstall the Switchmate app.
Step 2: Try to return your model with Amazon if you're within the return window to get a new one or...
Step 3: Buy this model outright -- https://www.amazon.com/gp/product/B06Y2PNX77/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1
Step 4: Don't upgrade the firmware or redownload the Switchmate app for any reason whatsoever.
Step 5: Conne

[2017-12-16 19:29] sbastami commented on #6
Thanks Paul for the update on your approach and progress. We're still hoping for a script update/solution as well from Brian and the Switchmate folks.

Hoping for a neat new year's present from Switchmate 😆.

⁣Sincerely,
Sepehr

On Dec 16, 2017, 13:18, at 13:18, Paul <notifications@github.com> wrote:

[2017-12-21 23:52] tateu commented on #6
Thanks Paul (psolin). On your suggestion, I ended up doing the same thing. My local Home Depot has a few of the RSM001W Rocker versions in stock for a few dollars cheaper than Amazon. I picked one up today and got it working in just a few minutes with my Raspberry Pi running OSMC and a modified version of [ha-local-echo](https://github.com/blocke/ha-local-echo) (a Philips Hue Bridge emulator) and

[2017-12-30 19:04] anthturner commented on #6
I have 2 models of the SwitchMate Bright unit so I wanted to throw some more data on this issue. On both units, I am testing the new-firmware branch at 5a0da18a0f570e10f27dd7766fd49af8ba031ba3. Neither device requires (or will even run) auth commands.

* TSM003W (A31C2417) ... Even with the app doing firmware update checks, this model seems to work nicely with this program. The app claims this mod

[2018-01-07 20:42] stock323 commented on #6
hi
hi
not sure a fix for the non-slim version
use to not toggle
firmware upgrade almost broke it...
changed batteries a few times.. no go
just a few clicking sounds when manually pushing switch !!!
then it dawned on me DELETE THE DEVICE FROM APP !!!  wow like a bad wifii signal
then added device under new name and old firmware

!!!! it works again
I mean it works like it did
30percent not toggling

[2018-01-10 22:09] harrylepotter commented on #6
@brianpeiris so the auth code changes on every session of the app? I'm looking at btsnoop logs and getting pretty bug-eyed.

[2018-01-28 19:21] psolin commented on #6
It appears that Wink is dropping support for Switchmate like I had predicted in this thread months ago. I suspect that, even though I downgraded my firmware, it will eventually break again. Just when I got it all working.

Does anyone know of a similar product made by someone else? Is there any new firmware out yet that does not break third party scripts?

Company rep guy, where are you?

[2018-02-01 07:24] valkjsaaa commented on #6
@psolin How do you downgraded your firmware?

[2018-02-01 08:59] valkjsaaa commented on #6
I actually figured out how to downgrade the switchmate firmware without getting a new one from amazon.

You can download the firmware like this (v2.9.3 is the last firmware that I can figure out how to toggle the lightswitch, any later than that have a very strong password mechanism that I still can't figure out):

[code]

For uploading the firmware, I uses the nordic nRF Connect on Android. It wi

[2018-02-01 13:56] brahmafear commented on #6
@valkjsaaa Do you have a link to download earlier firmware for the original, non-bright model?  Also, could you provide more instructions on how you are using nRF Connect to apply the firmware?  Thanks!

[2018-02-01 18:00] valkjsaaa commented on #6
@brahmafear I have created a repository for this. Check here: [switchmate-firmwares](https://github.com/valkjsaaa/switchmate-firmwares/).

[2018-02-01 19:11] brianpeiris commented on #6
Just a warning that I bricked two of my switchmates by doing a manual firmware update. Be careful.

[2018-02-04 02:26] swoopscience commented on #6
@brianpeiris I thought I bricked my switchmates too but after a failed update the mobile app detected they were in recovery mode and i was able to get them working again. have you tried that?

[2018-02-05 01:26] anthturner commented on #6
The Switchmate Bright units use the new encrypted (authenticated) preamble as of the newest firmware, 2.9.11. Having dissected some of the protocol, it is the same workflow as what @brianpeiris already described, but the address handles are slightly different. Hopefully, Switchmate will come through and we can get some sort of workaround for (or heck, implementation of) this fancy new protocol to

[2018-02-05 01:33] valkjsaaa commented on #6
@anthturner Yes. I do some BLE sniffing and found out that basically the app is writing a 32 bytes key (like `39b071b0000000338b2668fb727f9421`) to `a22b0230-ebdd-49ac-b2e7-40eb55f5d0ab`, which is different for each session. I couldn't find a pattern on the value it writes yet though. That why I came up to those downgrade solution, to workaround this key problem.

I tried to decompile the Android

[2018-02-05 01:48] anthturner commented on #6
Unfortunately for some models of Brights (as I noted in an earlier post) there is a firmware bug that causes the unit to randomly turn on and off. That means downgrading is likely not a good solution for these models, as the downgraded (non-authenticated) firmware doesn't actually work. :)

The model variant I'm seeing this with specifically is the A32D104417.

[2018-02-05 02:56] valkjsaaa commented on #6
@anthturner I wonder the firmware you mentioned which will randomly turn on and off is 1.46 or 2.9.3 or both? If only 1.46 is randomly turning on and off, I actually knows the protocol to turn it on and off stably on 2.9.3 (which I implemented in valkjsaaa/node-switchmate3 and later got adopted into emmcc/node-switchmate).

[2018-02-05 03:05] valkjsaaa commented on #6
@anthturner Sorry that I found your post on this thread. (I thought it is on another thread.) Does the latest firmware solve this problem? This looks like a hardware problem (maybe)? I have brought one Switchmate which turns on and off on itself erratically and it won't even respond to touch control sometimes. I just returned them to Amazon.

[2018-02-17 00:15] F1nny commented on #6
Hey all!
My apologies for the delayed reply has been a very busy new year as we've been in the midst of the complete rewrite from the ground up for the App+FW which is a major improvement since we've been fighting a somewhat tricky foundation for far too long. Anyway onto the point of what you guys are wanting - **have some good news**, for the time being we've tweaked the auth a bit so long story

[2018-02-17 08:01] brianpeiris commented on #6
Thanks for the update and the good news @F1nny!

It looks like version 3.2.0 of the app hasn't hit the Play Store yet, if I'm not mistaken. I see version 3.1.9, updated Feb 6, so I assume 3.2.0 is still rolling out.

In any case, I've merged the `new-firmware` branch into master, since I think the implementation will work with the 2.99.18+ firmware. If not, I will investigate once I get the update

[2018-02-17 12:32] brahmafear commented on #6
iOS app v 3.2.0 available.  Applies 2.99.18 to 'original' device.  Results of testing look good.  I am able to use the most recent commit to master branch to control switchmate from rPi3.

I am getting a bunch of exceptions which might be due to switchmate being slightly out of range:

$ sudo ./switchmate.py status
Looking for switchmate status...
{redacted MAC} on
Traceback (most recent call last

[2018-02-18 23:18] brianpeiris commented on #6
👍 Thanks for testing things out. I've updated master with #7 to deal with the exception cases.

[2018-02-19 17:12] rjcooper725 commented on #6
Hello,

I might be better off just waiting for the public API but it never hurts
to ask.

I create tech for very disabled people.  Have done this since 1983 (not
a typo ;-) !

Working on an iOS app that would let a severely challenged person
control appliances (lights and other AC devices) in their environment,
to create independence for some, and learning for others.

I wish to use the Switchmate

[2018-02-19 20:03] brianpeiris commented on #6
@rjcooper725 If you don't want to wait, have your programmer take a look at this project, written in Swift for macOS https://github.com/scottjg/switchmate. He might be able to create an "external" from that, though he'll probably have to update it to work with the latest firmware. That should be easy enough by following the python code in this project. Good luck!

[2018-02-19 20:20] rjcooper725 commented on #6
Thanks, Brian! I'm having him take a peek.

:)

-------- Forwarded Message --------
Subject: 	Re: [brianpeiris/switchmate] Switchmate firmware update broke
this script! (#6)
Date: 	Mon, 19 Feb 2018 12:03:27 -0800
From: 	Brian Peiris <notifications@github.com>
Reply-To: 	brianpeiris/switchmate
<reply@reply.github.com>

To: 	brianpeiris/switchmate <switchmate@noreply.github.com>
CC: 	rjcooper725 <rj

[2018-02-20 00:08] tateu commented on #6
Ahh...I decided to upgrade one of my RSM001W devices to the newest firmware, 2.99.18, and it doesn't work like it used to.

With the original firmware I was able to add a third switch command so it was

[code]

where toggle would set the device to the opposite of whatever it is currently set at. I need this because I am using one Switchmate on a 3 way light switch. This sucks because now I cannot

[2018-02-20 01:25] valkjsaaa commented on #6
So you mean it can it can turn on and off, but not toggle with that command?

[2018-02-20 01:27] valkjsaaa commented on #6
Also, is the latest firmware similar to the orignal firmware which requires a auth for it to work or similar to the newer firmware which requires no auth field and just works by writing 0 or 1 to a specific characteristic?

[2018-02-20 01:29] tateu commented on #6
Yes, on = '\x01' and off = '\x00' work but toggle = '\x02,' that I used in my modified version, no longer works. The RSM001W on the newest firmware, 2.99.18, works with no auth.

[2018-02-20 17:48] rjcooper725 commented on #6
Hi to all, especially CRAIG!

I was at OSH (Orchard Supply Hardware) today to get a drill bit and came
across a display of yours, which made me happy.  But, your stuff was on
clearance, usually meaning they're not going to restock.  They were
selling the motorized light switch for $9! I asked a sales person and he
seemed pretty knowledgeable and claimed it didn't sell so they weren't
getting any m

[2018-02-21 17:56] brianpeiris commented on #6
@tateu I could add a "toggle" command to the python script that just checks the current state of the switch and switches it to the opposite.

But please let's try to keep this particular issue on topic. Feel free to open a new issue if you want to discuss something else.

[2018-03-04 06:14] brianpeiris commented on #6
Just got the updated Android app and upgraded the firmware on my Original and my recently purchased Bright devices. Confirmed that the new firmware works without auth as expected!

Thank you all for the discussion in this issue. I think we can finally call it closed!

[2018-03-04 06:14] #6 closed, assigned to nobody

[2018-03-10 16:24] parisbutterfield opened #9 "Switchmate Bright / 2.9.15"
Hey @brianpeiris @F1nny

I noticed an issue when switching/reading state with the new script. Using the 0x2e handle will lead to on/off commands being reversed when physical presses are used. 0x2e also isn't reliable for getting the devices state. If the device is physically pressed 0x30 is updated and not 0x2e.

Hopefully this makes enough sense. What I’ve done in my [restswitchmate](https://gith

[2018-03-14 08:00] brianpeiris commented on #9
Thanks for the report and detailed steps, @parisbutterfield! I do have Bright and Original devices to test with.

Indeed it seems that `0x2E` actually controls the "reversed" flag of the Bright devices. Whoops!

`0x30` is apparently the right handle to switch, but I found that sending consecutive "on" or "off" commands would actually toggle the switch to the opposite state. So I changed the implem

[2018-03-14 08:00] #9 closed, assigned to nobody

[2018-03-25 19:09] thunpisit commented on #5
@brianpeiris

I ran your `pip install -r requirements.txt` but there are errors for

**bluepy**

`Failed building wheel for bluepy`

`Command "/usr/local/Cellar/python/3.6.4_2/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/private/var/folders/4d/tt4t_0fn7lz7wjf04hvvh6gc0000gn/T/pip-build-zoqcue0v/bluepy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n'

[2018-03-25 20:35] brianpeiris commented on #5
@thunpisit Can you try to run `pip install -r requirements.txt` again and post the full output here?

[2018-03-25 20:58] thunpisit commented on #5
@brianpeiris Here you go. I'm not sure is it because of my Python that I installed but it shouldn't be. I also tried manually installed with pip & pip3.

[code]

[2018-03-25 21:07] brianpeiris commented on #5
@thunpisit Looks like you haven't installed the prerequisites for bluepy. You can find the relevant `apt-get install` command here: https://github.com/IanHarvey/bluepy/#installation

[2018-04-04 01:04] thunpisit commented on #5
Thanks @brianpeiris I've done that and the bluepy error are gone but when I ran command

`./switchmate.py scan`

This is the output of it but I already ran requirements and docopt is already installed

`Traceback (most recent call last):
  File "./switchmate.py", line 25, in <module>
    from docopt import docopt
ImportError: No module named docopt`

[2018-04-17 19:54] B3voholic opened #11 "Traceback Error"
Hello, I'm trying to get my switchmate working and I keep getting the following error.  I was wondering if anyone had any tips.  The error is following.

[code]

Any help is appreciated.

[2018-04-30 08:30] brianpeiris commented on #11
I'm not familiar with homeassistant, so I'm not sure what it's trying to do here. When do you receive the error?

[2018-04-30 20:24] B3voholic commented on #11
I'm trying to flip the switch using the command line and it's giving that error.  I'm running this command ```sudo /home/homeassistant/.homeassistant/shell/switchmate.py XX:XX:XX:XX:XX:XX none switch on``` and it's giving me that message.  I have copied your switchmate.py exactly.

[2018-07-25 04:31] brianpeiris commented on #11
I'm afraid I'll never get around to setting up Home Assistant and trying this myself. @B3voholic Let me know if you still care about this issue, or if I should just close it.

Of course, if someone else wants to help out, please do!

[2018-09-10 22:25] #11 closed, assigned to nobody

[2018-09-14 13:40] rotcop4u2 opened #12 "bluepy, docopt and other dependencies on HA Linux Image"
Hello,

I'm trying to use your script but am unable to get the dependencies. do you know where to locate them?

[2018-09-14 15:28] brianpeiris commented on #12
switchmate uses the typical method for python dependencies. They are specified in the [`requirements.txt`](https://github.com/brianpeiris/switchmate/blob/master/requirements.txt) file and can be installed with pip: `pip install -r requirements.txt`

[2018-09-14 15:42] rotcop4u2 commented on #12
I'm having some issues trying to run the ./switchmate.py scan command.. it
says permission denied even when I run in sudo su

On Fri, Sep 14, 2018, 11:28 AM Brian Peiris <notifications@github.com>
wrote:

[2018-09-14 16:21] brianpeiris commented on #12
Can you paste the full error?

[2018-09-14 16:23] rotcop4u2 commented on #12
master# bash switchmate.py scan
switchmate.py: line 36: switchmate.py

A python-based command line utility for controlling Switchmate switches.

Usage:
    ./switchmate.py scan [options]
    ./switchmate.py status [options]
    ./switchmate.py <mac_address> status [options]
    ./switchmate.py <mac_address> switch (on | off)
    ./switchmate.py <mac_address> toggle
    ./switchmate.py <mac_address

[2018-09-14 16:24] rotcop4u2 commented on #12
i pip3 install -r requirements.txt already and it grabbed all the dependencies

[2018-09-14 16:29] brianpeiris commented on #12
Might be easier if we chat in realtime on Gitter: https://gitter.im/brianpeiris-switchmate/Lobby

[2018-09-14 17:20] brianpeiris commented on #12
Turns out @rotcop4u2 was running HomeAssistant's flavor of Linux on a Raspberry Pi 3B+

We got things partially working with these commands:

[code]

But there is still an issue with finding particular switches.

[2018-09-14 17:28] rotcop4u2 commented on #11
you probably have to execute the command the same way you would in the terminal.. sudo python3 /home/homeassistant/.homeassistant/shell/switchmate.py XX:XX:XX:XX:XX:XX switch on

[2018-09-14 21:25] lawrence-jeff commented on #12
Are you having issues with the code seeing some devices -in my cases the code scans and if I add debug statements listing the macs it sees it sees the switchmate devices but skips past them as they don't match the service id in the code - are you seeing this also?

[2018-09-15 03:49] lawrence-jeff opened #13 "Service identifier changed?"
With my brand new switchmates - i had to change the service identifier in the code. This works for my devices (upgraded to the latest bluetooth firmware)
(I guess it could be a difference in how the value is pulled from bluepy or something - I have the latest version of all dependencies installed)

Didn't work
#SWITCHMATE_SERVICE = 'abd0f555eb40e7b2ac49ddeb83d32ba2'
Works
SWITCHMATE_SERVICE = 'a22

[2018-09-15 04:32] brianpeiris commented on #13
Ah, interesting. Thanks for investigating. I wonder if a firmware update on my devices will update the service. I'll see about incorporating it into the code so that both versions are supported.

Do all the functions (status, toggle, battery-level) work once you change the service in the code?

[2018-09-15 10:43] rotcop4u2 commented on #13
I'm going to give that a try later today and I will let you know how I make
out.

On Sat, Sep 15, 2018, 12:32 AM Brian Peiris <notifications@github.com>
wrote:

[2018-09-15 12:59] lawrence-jeff commented on #13
Yes - I went back and tested all the functions and they work correctly. I figured I would grab the debug output while I had it in case it helps.

pi@raspberrypi:~/switchmate $ sudo python switchmate.py e2:4e:9a:7a:ca:a6 debug
Retrieving debug info...
uuid                                  common name                                 handle    properties         value
--------------------------------

[2018-09-15 16:28] brianpeiris commented on #13
oh, heh, I just realized that those are technically the same service id. They are just two different representations, where the second is just reversed byte order. It's very strange that one would work and not the other. Something else may be going on here.

ab d0 f5 55 eb 40 e7 b2 ac 49 dd eb 83 **d3** 2b **a2**
**a2** 2b **d3** 83 eb dd 49 ac b2 e7 40 eb 55 f5 d0 ab

[2018-09-15 19:01] lawrence-jeff commented on #13
Is it possibly because I am using the latest bluepy - and not the older one in your dependencies file?

[2018-09-16 01:04] brianpeiris commented on #13
@lawrence-jeff Yup, bluepy 1.2.0 returns a reversed uuid now. (This is the correct order, according to the related issue in their repo).
Is there a reason you decided to use a newer version of bluepy?

[2018-09-16 01:21] brianpeiris commented on #13
Actually, I think I'm just going to update the bluepy dependency. I suspect it's going to fix @rotcop4u2's issue in #12 as well.

For reference, here's some investigation I did while I was at it:

I have a Switchmate Bright device and a Switchmate Original (a.k.a "Light") device.
I've tested in both python 2 and python 3

I had an update available for the Bright device. It took it from firmware ve

[2018-09-16 02:29] lawrence-jeff commented on #13
Tested the new version -working great! Thanks for your work on this!

You will probably get a lot more interest on this repo with Lowes clearance'ing these out.  Have you ever investigated talking to the outlet over wifi - it can then relay cmds to the switches over bluetooth allowing you to access everything via wifi. Getting that working would make these a much more open system and you wouldn't

[2018-09-16 02:33] lawrence-jeff commented on #13
Slightly embarrassing but I didn't know you could point pip to a file like that until I saw the other issue, I just opened the file saw the components and 'pip'd' them by name and in that process got the latest versions

[2018-09-16 02:39] rotcop4u2 commented on #13
That is the setup I have now.. I bough the outlet and 2 light switch kits
because of the Lowe's discount as a tryout so I don't have to open up and
modify my switches to use with the sonoffs.. but the sonoffs use wifi and
can communicate via mqtt (which in turn) is alot faster of a response. Have
anyone been having the issue of the switchmate turning themselves back
on/off after commanding them vi

[2018-09-16 03:58] brianpeiris commented on #13
@lawrence-jeff Glad to hear it works now. I didn't know that the outlet device connects over wifi, interesting. I don't have much use for an outlet device, personally, but we'll see if there's more demand for that capability. Of course, pull requests are always welcome :)

@rotcop4u2 Not sure what's going on there. If you think it could be a problem with this script, please open a new issue.

I'm

[2018-09-16 03:58] #13 closed, assigned to nobody

[2018-09-16 03:58] brianpeiris commented on #12
@rotcop4u2 Let me know if this is still an issue for you with the new fix or if I can close this issue.

[2018-09-16 04:13] lawrence-jeff commented on #13
To save anyone else some time it appears the outlet makes an outgoing secure MQTT connection to an amazon web server.. it doesn't appear to run a server that accepts local requests from the home network. The app must make a connection to the same broker to control the outlets... I guess this means if the company goes out of business and that server goes down the wifi functions will no longer work

[2018-09-17 13:23] shanestep opened #15 "Cannot find original TSM001W on raspberry pi 3B+"
Does this script work with the Original TSM001W on raspberry pi 3 (b+) using the internal Bluetooth chip?

I bought a raspberry pi to use this script but have been unsuccessful after 3 days of attempts.

I am using a raspberry pi 3 B+ with updated raspbian stretch and switchmate TSM001W with firmware 2.99.18 and app version 3.3.0 (on nexus 6p). I have wifi disabled to prevent any interference with

[2018-09-17 16:32] brianpeiris commented on #15
I have a Raspberry Pi 3 B (not a B+) that I use with my Original switch with firmware version 2.99.18.

Not sure if the B+ may be different enough to cause an issue.

I would suggest trying these steps:
- Make sure nothing else is trying to communicate/connect to you switchmate. (i.e. the switchmate app on your phone)
- Try running `sudo hciconfig -a` to make sure your bluetooth receiver is runnin

[2018-09-17 21:49] shanestep commented on #15
I tried the above but no go. Only seeing the same 4 devices (tv etc). Interestingly I searched using my Windows laptop and can see the switchmate fine and view all (most) of its services and info. But the RPI seems to ignore it while others working fine.

I understand the wireless chip is different on the B+ which 4.2 (as opposed to 4.1 I believe). Could 4.2 bluetooth security enhancements be the

[2018-09-18 00:49] brianpeiris commented on #15
A comment on this issue hints that you may need to update your B+ operating system https://github.com/noble/bleno/issues/372#issuecomment-377405362

[2018-09-18 02:39] shanestep commented on #15
I got it working after many hours of troubleshooting. I remove all bluetooth packages and then updated bluez to the latest source but still same problems.

Then I discovered that the BT chip uses a different firmware than the RPI 3B that is non-free licensed and not easy to update.

The fix was to replace the BT firmware files and attach them with btattach.
Instructions can be found here - https:/

[2018-09-18 03:17] brianpeiris commented on #15
Glad to hear you figured it out in the end. I would hope that updating Raspbian would have the same effect, but it's good to know the root cause as well.
I'm going to call this one closed. Thanks for reporting and for investigating!

[2018-09-18 03:17] #15 closed, assigned to nobody

[2018-10-01 17:59] brianpeiris commented on #12
I'm going to close this for now. Feel free to reopen if you need to.

[2018-10-01 17:59] #12 closed, assigned to nobody

[2018-10-09 03:59] joshuamooree commented on #15
I'm having the same issue.  Running Raspbian 9.4,, latest updates, on a RPi 3B+, also firmware 2.99.18.  Also ran the rpi-update tool to update to the latest firmware.  Rebooted many times, tried everything mentioned on this page (the btattach thing doesn't work for me at all and just causes the scan tools to fail saying they can't find the bluetooth adapter).  Nothing - can't see the device with

[2018-10-09 16:45] shanestep commented on #15
The Btattach gave me errors as well.
What worked for me was changing the the firmware for the bluetooth card - instructions found at https://wiki.gentoo.org/wiki/Raspberry_Pi.
You need the updated  BCM4345C0.hcd file and place it in /lib/firmware/brcm directory. (the firmware can be found on the raspbian bluez-firmware repository to in the above wiki link)
then using hciattach /dev/ttyAMA0 bcm43xx

[2018-10-10 04:12] joshuamooree commented on #15
Tried that already - no go.  Also, the rpi-update command gets that same file.  I've read on the raspberry pi the firmware files have to go in a special place, in addition to the /lib/firmware/brcm directory, to work.  That tool is supposed to do what's necessary for the firmware to work.  Anyway, so I already had the same firmware as what that link had.  Tried using the command you mentioned.  It

[2018-10-11 17:44] shanestep commented on #15
Sounds like you have the same issue I did. What I said above is what worked for me but I also uninstalled the bluetooth drivers/packages (rpi-bluetooth, bluez, bluman etc) a few times and reinstalled. I cannot remember if it was uninstalled prior to changing the firmware and reinstalled after but it is possible.

Also at one point I installed a newer version of bluez from compiling the source whic

[2018-10-11 18:02] brianpeiris commented on #15
(thanks for helping each other out 🙂. Seems like I'll have to get myself a RPi 3B+ at some point. It's unfortunate to hear the bluetooth stack is so different/buggy)

[2018-12-30 00:42] jquatier opened #16 "off command works, but not on?"
I'm having problems running the `switch off` command. Hers my log:
[code]
Any ideas? Let me know if more information would help

[code]

[2018-12-30 01:04] jquatier commented on #16
Upgraded to latest firmware and it’s working. Thanks for the great utility!

[2018-12-30 01:04] #16 closed, assigned to nobody

[2019-01-06 06:40] takuy opened #17 "Windows compatibility"
I'm very interested in getting this to work on Windows. Currently, Bluepy doesn't work on Windows (and there's no plan for it to work). Maybe something like https://github.com/pybluez/pybluez would work. I'll try it change it over in my spare time.

It'd be a great feature otherwise.

[2019-01-07 05:23] takuy commented on #17
Turns out Pybluez has no support for BLE on Windows, and Switchmates function over BLE. Oh well.

[2019-01-07 18:46] brianpeiris commented on #17
Looks like this supports Windows 10 BLE: https://github.com/TheCellule/python-bleson

[2019-01-07 18:47] brianpeiris commented on #17
Also https://github.com/hbldh/bleak

[2019-01-07 20:37] takuy commented on #17
Yeah - I started to look into Bleak and Bleson late last night. I'll see what I can whip up.

[2019-01-09 08:54] roberkane212 opened #18 "Can not get my switchmate to show up at all"

[2019-01-09 08:56] roberkane212 commented on #18
I have a RPi 3 B+, however it seems that this is all making it where you have to use external usb BluetoothZ however I believe my RPi has internal ble

[2019-01-09 19:38] brianpeiris commented on #18
Please read through this other issue that a couple of other RPi 3B+ users had a discussion in. I still don't have one myself to test with but hopefully their solution can help you as well: https://github.com/brianpeiris/switchmate/issues/15

[2019-01-09 21:20] roberkane212 commented on #18
I’ve read through them, however I can even get to that part. I’m still searching to even find my device. I’ve tried all the things I’ve seen on here. If I could at least know where people are getting switchmate.py that would be great. I can’t fikd it anywhere

[2019-01-09 23:17] brianpeiris commented on #18
switchmate.py is the main file in this repo: https://github.com/brianpeiris/switchmate/blob/master/switchmate.py

[2019-01-09 23:23] roberkane212 commented on #18
Yes I know, I’m in it. However I get a error saying “NameError: name ‘switchmate’ is not defined

[2019-01-10 05:10] brianpeiris commented on #18
Sorry, I'm not following. What steps did you take to get that error? Do you mean you modified the code in switchmate.py? Can you post the full error stack?

[2019-01-11 02:01] roberkane212 commented on #18
I’m having an issue actually getting switchmate.py to scan. Can you tell me how you set up your switchmate in python. I’m sorry new to python and pip

[2019-01-25 03:35] brianpeiris commented on #18
@roberkane212 Sorry, forgot to reply to this earlier. Here are some instructions:

1. Firstly, this switchmate.py only works on Linux at the moment
1. Download and extract the project: https://github.com/brianpeiris/switchmate/archive/master.zip
1. In a console, run `pip install -r requirements.txt`
1. Then run `sudo python ./switchmate.py scan` to start using the script.

[2019-01-25 21:05] roberkane212 commented on #18
ok thank you i really appreciate it, can you tell me what folder the i should put in in after i download? or will it find it no matter where it is on rpi

[2019-01-25 21:07] brianpeiris commented on #18
Doesn't matter where you put it, you can choose any folder. But you'll have to `cd` into that folder to run the above commands

[2019-01-25 21:11] roberkane212 commented on #18
i got an error, could this because I'm using python 3?

$ pip3 install -r requirements.txt
Collecting Django==2.1.5 (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.org/packages/36/50/078a42b4e9bedb94efd3e0278c0eb71650ed9672cdc91bd5542953bec17f/Django-2.1.5-py3-none-any.whl
Collecting pkg-resources==0.0.0 (from -r requirements.txt (line 2))
  Could not find a version t

[2019-01-25 21:18] brianpeiris commented on #18
uh. why is it trying to install django? are you sure you're in the right directory?

[2019-01-25 21:30] roberkane212 commented on #18
im not sure, but i got past that. when i run sudo python ./switchmate.py scan i get this error

pi@raspberrypi:~/.homebridge/switchmate-master $ sudo python ./switchmate.py scan
Traceback (most recent call last):
  File "./switchmate.py", line 41, in <module>
    from docopt import docopt
ImportError: No module named docopt

[2019-01-25 21:35] brianpeiris commented on #18
That error means the requirements weren't installed

[2019-01-25 21:38] roberkane212 commented on #18
they installed with no errors, i ran it just as you said

[2019-01-25 21:38] roberkane212 commented on #18
~/.homebridge/switchmate-master $ pip3 install -r requirements.txt
Collecting bluepy==1.2.0 (from -r requirements.txt (line 1))
  Downloading https://www.piwheels.org/simple/bluepy/bluepy-1.2.0-cp35-cp35m-linux_armv7l.whl (509kB)
    100% |████████████████████████████████| 512kB 522kB/s
Collecting docopt==0.6.2 (from -r requirements.txt (line 2))
  Using cached https://www.piwheels.org/simple/doco

[2019-01-25 21:39] roberkane212 commented on #18
is there another command im missing?

[2019-01-25 21:43] roberkane212 commented on #18
i tried to use python 3 and got this error

~/.homebridge/switchmate-master $ sudo python3 ./switchmate.py scan
Traceback (most recent call last):
  File "./switchmate.py", line 47, in <module>
    from tabulate import tabulate
ImportError: No module named 'tabulate'

im very confused as it says i have both

[2019-01-25 21:47] brianpeiris commented on #18
Try `sudo pip3 install -r requirements.txt` then `sudo python3 ./switchmate.py scan`

[2019-01-25 21:52] roberkane212 commented on #18
it worked!!!!! now its not finding my switchman, is there anything i can do to help

~/.homebridge/switchmate-master $ sudo python3 ./switchmate.py scan
Scanning...
No Switchmate devices found

[2019-01-25 22:02] brianpeiris commented on #18
I think we're now back to this problem: https://github.com/brianpeiris/switchmate/issues/18#issuecomment-452829499

[2019-01-25 22:08] roberkane212 commented on #18
No my issue is just the discovery it says no devices found

[2019-01-25 22:09] roberkane212 commented on #18
Shoukd to delete app?

[2019-01-25 22:13] brianpeiris commented on #18
That's what https://github.com/brianpeiris/switchmate/issues/15 is about. RPi 3B+ requires extra setup before it can even discover devices. Please read through that thread.

[2019-01-26 22:29] roberkane212 commented on #18
i can get it to toggle now, but can't get it to connect

[2019-01-26 22:31] roberkane212 commented on #18
used `sudo "PATH=$PATH" python3 ./switchmate.py <mac_address> toggle` to see if the script can toggle your switch even if it can't scan for it. like you suggested to someone else worked for me

[2019-01-27 00:23] brianpeiris commented on #18
Interesting, thanks for reporting back.

[2019-01-27 00:36] roberkane212 commented on #18
i also can't get it to work with home bridge, the only way its working for me is running commands.  tried to use it in cmdswitch, however the fact that you have to cd into a folder makes it too much of a command. does anyone have any advise on this issue?

[2019-01-27 01:26] brianpeiris commented on #18
That might be a better question for the homebridge community

[2019-01-27 16:48] roberkane212 commented on #18
anyone have a clue how i can find out my id number for my switchmate. i have everything else working

[2019-01-27 18:15] brianpeiris commented on #18
Are you asking about the mac address? Maybe use an app on your phone to scan for the devices, there are a number of general bluetooth scanning apps.

[2019-01-27 18:25] roberkane212 commented on #18
no the device id which i can not find in the app, nor is debug  working for me. it just brings up the help options

[2019-01-27 18:28] roberkane212 commented on #18
i also can not get switchman plugin to work, however all other commands work scan, status, toggle

[2019-01-27 19:17] brianpeiris commented on #18
Sorry, I'm still not sure what you mean by "device id". You should only need the MAC address to use switchmate.py.

[2019-01-27 19:23] roberkane212 commented on #18
im trying to add it to home bridge, do you not have your switchmate connected to home bridge?

[2019-01-27 19:25] brianpeiris commented on #18
Nope, sorry, I do not use home bridge. As I mentioned, if you've got switchmate.py working in isolation, then it may be better to take this discussion to the home bridge community to answer the rest of your questions.

[2019-01-27 19:34] brianpeiris commented on #18
Since homebridge is based on node.js, you might have better luck with this project instead: https://github.com/valkjsaaa/homebridge-switchmate3

[2019-01-27 19:58] roberkane212 commented on #18
im forgetting about home bridge, i am not getting an error trying to run commands do you know why?

pi@raspberrypi:~/.homebridge/switchmate-master $ sudo python3 ./switchmate.py scan
Scanning...
Found Switchmates:
c6:d6:aa:5e:bc:c6
pi@raspberrypi:~/.homebridge/switchmate-master $ sudo python3 ./switchmate.py status
Looking for switchmate status...
c6:d6:aa:5e:bc:c6 off
pi@raspberrypi:~/.homebridge

[2019-01-28 02:25] brianpeiris commented on #18
Hmm, I would make sure your switchmate device is updated to the latest firmware via the official switchmate app. Then try to move your switchmate closer to the RPi since that error also occurs if the bluetooth signal is weak.

[2019-01-28 03:36] roberkane212 commented on #18
thanks it worked

[2019-01-28 03:37] roberkane212 commented on #18
have any clue why  would get this error?

pi@raspberrypi:~ $ sudo "PATH=$PATH" python3 ./switchmate.py c6:d6:aa:5e:bc:c6 toggle
python3: can't open file './switchmate.py': [Errno 2] No such file or directory
pi@raspberrypi:~ $

[2019-01-29 00:43] roberkane212 commented on #18
Ok got all commands working, and got it working on homebridge using cmdswitch2 thanks for all your help

[2019-01-29 01:07] brianpeiris commented on #18
Glad to hear it! I'll go ahead and close this issue now. If you can summarize what you did through this whole process, it may be helpful to future homebridge users.

[2019-01-30 01:44] #18 closed, assigned to nobody

[2019-01-30 01:48] roberkane212 commented on #18
Yes it’s closed and yes I will write my steps

[2019-01-30 01:57] brianpeiris commented on #18
Great, thanks!

[2019-03-11 19:47] brianpeiris commented on #17
Gonna close this for now. Feel free to reopen if you have an update.

[2019-03-11 19:47] #17 closed, assigned to nobody

[2019-06-26 11:48] jlippold opened #19 "Status of project?"
Hey Brian,

I tried to use this project a while ago and maybe it was right in the midst of firmware changes, so I couldn't get anything working reliably. If I have the latest iOS app, and the newest firmware, does your library work against it? Are there any limitations?

I know I could try it and see for myself, but I'm hoping you don't mind filling me in

Thanks a bunch

[2019-06-26 17:25] brianpeiris commented on #19
It's been a while since I've used it myself, and I don't use apple devices, so I'd encourage you to try it yourself and report back if you run into issues! I'm not sure what limitations you had in mind, but I can't think of any.

[2019-12-06 03:52] Thomasbomb commented on #19
has anyone successfully used this with the switchmates? I am considering buying some but I want to confirm I can control via raspberry pi first

[2019-12-08 21:41] jlippold commented on #19
@Thomasbomb I found it to be unreliable. I purchased a bunch and regret it. If anyone wants to buy them from me, hit me up lol

[2019-12-11 06:54] lavahot commented on #19
Yeah @jlippold, I'll bite. Are they brights?

[2019-12-11 13:08] jlippold commented on #19
@lavahot I have 10 [rocker switch models](https://www.amazon.com/Switchmate-Wire-Free-Activated-Assistant-Controlled/dp/B07K1GFYDF/ref=pd_sbs_60_img_2/133-2386734-4904120?_encoding=UTF8&pd_rd_i=B07K1JJSGR&pd_rd_r=10fdcb5b-cb3f-408c-8907-5ace35589345&pd_rd_w=nwTqc&pd_rd_wg=vyghb&pf_rd_p=5cfcfe89-300f-47d2-b1ad-a4e27203a02a&pf_rd_r=8H7QYS1F1KS306E5MKD5&refRID=8H7QYS1F1KS306E5MKD5&th=1)

[2019-12-11 23:14] lavahot commented on #19
Oh, was looking for toggle. Thanks anyway, @jlippold

[2019-12-11 23:31] brianpeiris commented on #19
@jlippold When reliability issues did you run into with the script? What type of computer were you running the script on, a Raspberry PI? Sorry to hear it didn't work out for you, but it would be helpful to share more details about the problems that you ran into. Perhaps the script can be improved.

[2019-12-12 20:19] jlippold commented on #19
I was running a rPi3, so maybe it was the bluetooth range? I'm not 100% sure. I had it wired it up to a web UI and alexa, and I found it took a while to toggle, which wasn't ideal but bearable. The bigger problem was that they sporadically stopped working.

One day, I'll try again since I have 10 of these things collecting dust, lol. When I do, i'll get better debug logs

[2019-12-12 22:51] brianpeiris commented on #19
Thanks. If you think bluetooth range was the main issue, I'd suggest trying an external bluetooth adapter connected to the PI with a short USB extension cable. I've seen range issues in the past as well. There might be ways to have the script boost the bluetooth power, but there still might be limits especially if you've got walls in the way.
Perhaps you could do a simple reliability test by keepi

[2020-03-22 00:22] brianpeiris commented on #19
I finally got around to testing the script with my devices. I can confirm that it still works with the latest firmware updates from switchmate on both the original and the slim models.
I am running into inconsistencies with status checks, but the switch commands seem to be more reliable. I'm not sure if there's much I can do on that front. My guess is the underlying bluepy library is buggy, but it

[2020-03-22 00:22] #19 closed, assigned to nobody

[2020-11-27 07:17] thevickypedia opened #20 "Dependency fails on MacOS"
Unable to install the dependency `bluepy`

[code]

I've also raised an [issue](https://github.com/IanHarvey/bluepy/issues/194#issuecomment-733696079) with `bluepy` but is there any way around to get `switchmate` working on my Mac?

[2020-12-16 02:01] brianpeiris commented on #20
I'm afraid I can't help with bluepy issues, and this library requires bluepy to work. I'd suggest trying a linux machine instead, like a raspberry PI.

[2020-12-16 02:01] #20 closed, assigned to nobody

[2020-12-16 02:04] brianpeiris commented on #20
You might also want to try this node.js based project instead, though I'm not sure if it's in a working condition https://github.com/valkjsaaa/node-switchmate3